@mixin search {
    input{
        border: none;
        &:focus{
            box-shadow: none;
        }
        &::placeholder{
            color: green;
        }
    }
    i{
        color:$color-red-0;
        background-color: white;
        padding: 11px;
        font-size: 15px;
        transition: all .5s;
        &:hover{
            background-color: $color-red-0;
            color: white;
        }
    }
    .input-group{
        border: 1px solid #eeeeee;
    }
}
@mixin text($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
