.udemyCarousel{
    background-image: url(./../img/cover.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .headerForm{
        @include search();
        .input-group{
            border: none;
        }
    }
}